/* General Styles */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* Layout Container */
.layout-container {
    display: flex;
    min-height: 100vh;
}

/* Navbar Styles */
.navbar {
    width: 250px;
    background-color: #023047;
    color: rgba(255, 255, 255, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.user-profile {
    text-align: center;
    margin-bottom: 30px;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    margin-bottom: 15px;
}

    .nav-link a {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.56);
        text-decoration: none;
    }

        .nav-link a:hover .nav-text {
            color: #f5f5f5;
        }

    .nav-link .material-icons {
        margin-right: 10px;
        color: rgba(255, 255, 255, 0.56);
    }

.logout {
    margin-top: auto;
}

    .logout a {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.56);
        text-decoration: none;
    }

        .logout a:hover .nav-text {
            color: #fff;
        }

    .logout .material-icons {
        margin-right: 10px;
        color: rgba(255, 255, 255, 0.56);
    }

/* Main Content Styles */
.main-content {
    margin-left: 250px; 
    flex-grow: 1;
    padding: 20px 10px;
    overflow-y: auto;
    height: 100vh;
    background-color: #f5f5f5;
    width: calc(100% - 300px);
}

.container {
    width: 95%;
    margin: 10px;
    padding: 0 10px; 
}

/* Home Page Styles */
.home {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col {
    flex: 1;
    padding: 10px;
}

    .col.s6 {
        flex: 0 0 50%; /* 50% width for each column */
        max-width: 50%;
    }

.recap {
    display: flex;
    gap: 20px;
}

.recap1, .recap2 {
    border-radius: 8px;
    width: 100%;
    height: 150px;
    background: rgba(243, 248, 255, 1);
    color: rgba(8, 39, 119, 0.51);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    text-align: left;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recap_number {
    width: 75px;
    height: 70px;
    border-radius: 30px;
    background: rgba(243, 248, 255, 1);
    border: 1px solid rgba(8, 39, 119, 0.51);
    color: rgba(2, 48, 71, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    position: absolute;
    top: -35px;
    left: 20px;
}

.img_recap {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 100px;
}

.actions {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .actions h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: rgba(2, 48, 71, 1);
        margin-bottom: 20px;
    }

.action {
    background: rgba(194, 226, 241, 1);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.actionlink {
    color: rgba(251, 133, 0, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.box {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

    .box h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: rgba(2, 48, 71, 1);
        margin-bottom: 20px;
    }

.today, .tomorrow {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.interview_box {
    display: block; /* Make the anchor tag behave like a block */
    width: 160px;
    height: 150px;
    background-color: rgba(33, 158, 188, 1);
    color: rgba(230, 230, 230, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    text-decoration: none; /* Remove underline from anchor tag */
}

    .interview_box:hover {
        background-color: rgba(25, 130, 155, 1); /* Change color on hover */
        cursor: pointer; /* Show pointer cursor on hover */
    }

    .interview_box h6 {
        margin: 5px 0;
        font-size: 14px;
        color: rgba(230, 230, 230, 1);
    }

    .interview_box hr {
        border: 1px solid rgba(255, 255, 255, 0.12);
        margin: 10px 0;
    }

.time {
    font-size: 12px;
    margin-top: 10px;
    color: rgba(230, 230, 230, 1); 
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }

    .main-content {
        margin-left: 20px;
        padding: 30px;
        width: 100%; 
    }

    .col.s6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .recap {
        flex-direction: column;
    }

    .today, .tomorrow {
        flex-direction: column;
        gap: 10px;
    }

    .interview_box {
        width: 100%;
    }
}
